<div class="partial">
<h2> <%= customer.full_name %></h2>
<p><%= image_tag customer.image %></p>
<p>Phone number: <%= customer.phone_number %></p>
<p>Email Address: <%= customer.email_address %></p>
</div>